/* Styles for the form container */
.form-container {
  width: 100%; /* S'assurer que le formulaire occupe toute la largeur disponible */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Styles for the form */
.form-container form {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  text-align: center;

  @media (max-width: 768px) {
    padding: 10px; /* Réduire l'espacement intérieur du formulaire sur les écrans plus petits */
  }
}

.form-container form input[type="text"],
.form-container form input[type="url"],
.form-container form input[type="number"],
.form-container form select,
.form-container form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;

  @media (max-width: 768px) {
    margin: 5px 0; /* Réduire l'espacement entre les champs sur les écrans plus petits */
  }
}

/* Styles for the form submit button */
.form-container form input[type="submit"] {
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 0.9rem; /* Réduire la taille de la police du bouton sur les écrans plus petits */
  }
}
