// .post-container{
//     display: flex;
//     flex-wrap: wrap;
//     gap: 20px; /* Espace entre les cartes */
//     justify-content: center; /* Pour aligner les cartes à gauche et à droite */
//   }


.post-container {
  margin-left: auto;
  margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Quatre cartes par rangée */
    gap: 20px; /* Espace entre les cartes */
    justify-content: space-between; /* Pour aligner les cartes à gauche et à droite */

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr); /* Trois cartes par rangée sur les écrans de largeur maximale de 1200px */
      }
    
      @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr); /* Deux cartes par rangée sur les écrans de largeur maximale de 992px */
      }
    
      @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr); /* Une carte par rangée sur les écrans de largeur maximale de 768px */
      }
  }